[Unit]
Description=MWC sender in a screen
After=network-online.target

[Service]
User=pi
Type=simple
Restart=on-failure
RestartSec=3
WorkingDirectory=/home/pi/git/github.com/atsign-company/mwc_demo/dart/iot_sender
ExecStart=/usr/bin/screen -DmS mwcsender ./sender -a "@sendingatsign" -o "@receivingatsign"

[Install]
WantedBy=multi-user.target